nav img {
    width: 5%;
    height: 3%;
}
.navbar{
     color: rgba(237, 237, 237);
}
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
body{
    background: rgba(237, 237, 237);
    margin-bottom: 30px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 800,
  'GRAD' 10,
  'opsz' 48;
  color: black;
  padding: 0% 1% 2% 1%;
  width: 30px;
  height: 5px;
}
#idshow{
color: black;
text-align: center;
border:1px;
padding-top: 15px;
}
#img{
    float: left;

}
#form_div{
    float: right;

}
#sub_img{
    width: 100%;
    color: rgba(237, 237, 239);
    align-items: center;
    
}
#sub_img img{
    width: 50%;
    margin-left: 25%;
    height: 250px;
}
#name_label{
    width: 10%;
}
#name{
    width: 90%;
    align-self: center;
}
.area{
    height: 75px;
}
#form{
    width: 90%;
    margin-left: 4%;
}
#submit{
    text-align: center;
    background-color: rgb(49, 100, 244);
    color: white;
    vertical-align: middle;
    border-radius: 50px;
    /*padding: 3% 0% 5% 0%;*/
    font-size: larger;
    width: 40%;
    height: 23%; 
    margin-left: 30%;
}
#bio{
    width: 95%;
    margin-left: 4%;
    margin-top: 5%;
}